* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Century Gothic", "Lato", sans-serif;
}

a {
    text-decoration: none;
}

.tabs,
.slide {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
}

.tabs h1,
.slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}

.tabs h3,
.slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.tabs-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.tabs-container--top {
    position: fixed;
    top: 0;
}

.tab {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}

.tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66b1f1;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {

    .tabs h1,
    .slide h1 {
        font-size: 3rem;
    }

    .tabs h3,
    .slide h3 {
        font-size: 1rem;
    }

    .tab {
        font-size: 1rem;
    }
}